input{
    display: block ;
    width: 300px;
    padding: 1rem;
    margin: 1rem auto;
}

button{
    display: block ;
    margin: 1rem auto;
}

div{
    display: block ;
    text-align: center;
    font-weight: bold;
    font-size: large;
}